{% extends 'pizza/base.html' %}

{% block content %}
<h1>Список пицц</h1>
<a href="{% url 'pizza:pizza_create' %}" class="btn btn-primary">Добавить новую пиццу</a>

<div class="row mt-3">
    {% for pizza in pizzas %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if pizza.image %}
            <img src="{{ pizza.image.url }}" class="card-img-top" alt="{{ pizza.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ pizza.name }}</h5>
                <p class="card-text">{{ pizza.description|truncatewords:20 }}</p>
                {% with base_price=pizza.get_base_price %}
                {% if base_price %}
                <p class="card-text">Цена от: {{ base_price }} ₽</p>
                {% endif %}
                {% endwith %}
                {% if pizza.is_vegan %}
                <span class="badge bg-success">Вегетарианская</span>
                {% endif %}
                <a href="{% url 'pizza:pizza_detail' pizza.pk %}" class="btn btn-info">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
