{% extends 'pizza/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} пиццы</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>
                <div class="form-group">
                    {{ form.sauce.label_tag }}
                    {{ form.sauce }}
                </div>
                <div class="form-group">
                    {{ form.price.label_tag }}
                    {{ form.price }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ингредиенты:</label>
                    {{ form.ingredients }}
                </div>
                <div class="form-group">
                    <label>Аллергены:</label>
                    {{ form.allergens }}
                </div>
                <div class="form-group">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
                <div class="form-group">
                    {{ form.available_sizes.label_tag }}
                    {{ form.available_sizes }}
                </div>
                <div class="form-group">
                    {{ form.is_vegan.label_tag }}
                    {{ form.is_vegan }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'pizza:pizza_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
